@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
    color: white;
}

.imgComics {
    width: 200px;
    height: 200px;
    &:hover {
        filter:saturate(2.5);
        cursor: pointer;
    }
}

footer {
    margin-top: 150px;
    background-color: black;
    column-gap: 30px;
    color: white;
}

footer div ul > li {
    padding: 10px 0 10px 0;
    color: white;
    cursor: pointer;
}

footer div ul > .padding-bottom-50 {
    font-size: 25px;
}

#border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 150px;
}

.end {
    padding-left: 40px;
    color: gray;
    cursor: pointer;
    padding-top: 20px;
}

.end:hover {
    color: red;
}

footer div ul li:hover {
    color: red;
}
